/build*/
/external/
/reference/
/downloads/
/assets/mpq/*
!/assets/mpq/.gitkeep
/artifacts/
/dist/
/saves/
/client-settings.json
/client-settings.json.lock/
*.d2xsave
*.d2xsave.bak
*.d2xsave.lock/
*.log
*.mpq
*.MPQ
